<!DOCTYPE html>
<html lang="en">
    <head>
    	<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>University Housing</title>
		<link rel="stylesheet" href="/index.css" type="text/css">
    </head>
	<body>
		<div class='buttonWindow'>
			<div id='loginHeader'>
				<h1>Housing Portal Login</h1>
			</div>

			<div class='userButton'>
				<a class="button" href="/login/student" id="buttonText">Students</a>
			</div>

			<div class='userButton'>
				<a class="button" href="/login/admin" id="buttonText">Administrators</a>
			</div>
		</div>
		<div class='buttonWindow'>
			<div id='searchHeader'>
				<h1>Search Housing</h1>
			</div>

			<div class='userButton'>
				<a class="button" href="/building-search" id="buttonText">Buildings</a>
			</div>

			<div class='userButton'>
				<a class="button" href="/search/suite" id="buttonText">Suites</a>
			</div>

			<div class='userButton'>
				<a class="button" href="/search/room" id="buttonText">Rooms</a>
			</div>
		</div>
<!--
		<%- include('test'); %>
-->
	</body>
</html>
