<div class='buttonWindow'>
    <div id='searchHeader'>
            <h1>Testing</h1>
    </div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-student">Create New Student</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=visit-rand-student">Visit Random Student</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-room">Create New Room</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=visit-rand-room">Visit Random Room</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-suite">Create New Suite</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=visit-rand-suite">Visit Random Suite</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-building">Create New Building</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=visit-rand-building">Visit Random Building</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-community">Create New Residential Community</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=visit-rand-community">Visit Random Residential Community</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-livesin">Create New Living Assignment</a>
	</div>

	<div class='userButton'>
		<a class="button" href="/test/?what=add-rand-memberof">Create New Community Assignment</a>
	</div>
</div>
